$side-length: 50vmin;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: gray;
}

.container {
  width: $side-length;
  height: $side-length;
  position: relative;
  perspective: 1000px;
  flex: 0 0 auto;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: 10s rotateCube infinite running;
}

#cube:hover {
  animation-play-state: paused;
}
@keyframes rotateCube {
  0% {transform: translateZ(-$side-length / 2) rotateY(0deg);} /* front */
  16% {transform: translateZ(-$side-length / 2) rotateY(-90deg);} /* right */
  32% {transform: translateZ(-$side-length / 2) rotateX(-90deg);} /* top */
  48% {transform: translateZ(-$side-length / 2) rotateY(180deg);} /* back */
  64% {transform: translateZ(-$side-length / 2) rotateY(90deg);} /* left */
  80% {transform: translateZ(-$side-length / 2) rotateX(90deg);} /* bottom */
  100% {transform: translateZ(-$side-length / 2) rotateY(0deg);} /* front */
}

#cube figure {
  margin: 0;
  width: $side-length;
  height: $side-length;
  box-shadow: 0 0 10px gold, 0 0 10px yellow inset;
  position: absolute;
  display: block;
  font-size: $side-length / 2;
  line-height: $side-length;
  text-align: center;
  background: saddlebrown;
  opacity: 0.9;
}

#cube .front {
  transform: rotateY(0deg) translateZ($side-length / 2);
}
#cube .back {
  transform: rotateY(180deg) translateZ($side-length / 2);
}
#cube .right {
  transform: rotateY(90deg) translateZ($side-length / 2);
}
#cube .left {
  transform: rotateY(-90deg) translateZ($side-length / 2);
}
#cube .top {
  transform: rotateX(90deg) translateZ($side-length / 2);
}
#cube .bottom {
  transform: rotateX(-90deg) translateZ($side-length / 2);
}

#cube a, #cube a:visited{
  text-decoration: none;
  color: gold;
  text-shadow: 0 0 10px yellow;
}
